html {
background-color: cornsilk;
font: italic;

}


h1{
    text-align: center;
    color: red;
}

#loguin{
    width: 80%;
    height: 100;
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 20%;
}
a{
    box-sizing: content-box;
    

}